extends layout

block categories
  .breadcrumbs
    p Home
    p= category
  .main-category
    h2= mainData.name
    p= mainData.page_description
    mixin sub-category
      h3 Subcategories
      each subCat in subResults
        each sub in subCat
          img(src="/images/" + sub.image)
          p= sub.page_description
          form(action=`${category}/${sub.id}` method="get")
            button(type='submit') view products
          <br><br>
    +sub-category