<!-- <% var errMessage, allOrders, totalPrice, allAddresses, allPaymentsIds %> -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head'); %>
        <title>Alibazon - Order</title>
    </head>
    <body class="container">
        <header>
            <%- include('partials/header'); %>
        </header>
        <main>
            <div class="container px-5 mx-auto">
                <% if (!errMessage) { %>
                    <ul class="breadcrumb py-3 text-uppercase">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/order>">Order</a>
                        </li>
                    </ul>
                    <h1>Check your old orders</h1>
                    <% for (let i = 0; i < allOrders.length; i++) { %>
                        <div class="card mt-5">
                            <p class="card-header fs-5 fw-bold text-uppercase">Order <%= allPaymentsIds[i] %></p>
                        <% var eachOrder = allOrders[i] %>
                            <% for (eachProduct of eachOrder) { %>
                                <div class="card-body border-bottom">
                                    <p class="card-title my-0 text-muted">Product: <span class="fw-bold"><%= eachProduct.productName %></span></p>
                                    <p class="card-text my-0 text-muted">Quantiy: <span class="fw-bold"><%= eachProduct.quantity %></span></p>
                                    <p class="card-text my-0 text-muted">Price: <span class="fw-bold">USD <%= eachProduct.price.toFixed(2) %></span></p>
                                </div>
                                <% } %>
                            <div class="card-footer">
                                <p class="card-title my-0 text-muted">Delivery at <span class="fw-bold"><%= allAddresses[i] %></span></p>
                                <p class="card-title my-0 text-muted">Total price: <span class="fw-bold"><%= totalPrice[i].toFixed(2) %></span></p>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            </div>
            <section class="pt-4">
                <%- include('partials/error'); %>
            </section>
        </main>
        <footer class="footer">
            <div class="container text-center mt-5">
                <p>Copyright 2021 - OSF Digital</p>
            </div>
        </footer>
    </body>
</html>  