<!-- <% var errMessage, product, category, mainCategory, idSubcategory, subcat, subcategory, idProduct %> -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head'); %>
        <title><%= product.page_title %></title>
    </head>
    <body class="container">
        <header>
            <%- include('partials/header'); %>
        </header>
        <main>
            <div class="container px-5 mx-auto">
                <% if (!errMessage) { %>
                    <ul class="breadcrumb py-3 text-uppercase">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/<%= category %>"><%= category %></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/<%= category %>/<%= mainCategory %>"><%= mainCategory %></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/<%= category %>/<%= mainCategory %>/<%= idSubcategory %>"><%= subcategory %></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/<%= category %>/<%= mainCategory %>/<%= idSubcategory %>/<%= idProduct %>"><%= product.name %></a>
                        </li>
                    </ul>
                    <div class="row mx-auto">
                        <div class="col card text-left my-3 mb-3 border-0">
                            <div class="row g-0 mx-5">
                                    <div class="col-md-5">
                                        <img src="/images/<%= product.image_groups[0].images[0].link %>" alt="product <%= product.name %> image"> 
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body d-flex flex-column">
                                            <h2 class="card-title fs-2 fw-bold"><%= product.name %></h2>
                                            <p class="card-text fs-5 me-5"><%= product.page_description %></p>
                                            <div>
                                                <% const variants = product.variation_attributes %>
                                                <% for (variant of variants) { %>
                                                    <p class="text-uppercase fw-bold fs-6 text-muted"><%= variant.name %></p>
                                                    <% for (eachValue in variant.values) { %>
                                                    <button
                                                        value="<%= variant.values[eachValue].value %>"
                                                        class="btn btn-outline-info mb-4" >
                                                        <%= variant.values[eachValue].name %>
                                                    </button>
                                                    <% } %>
                                                <% } %>
                                            </div>
                                            <div class="mt-auto">
                                                <p class="card-text fs-4 fw-bold text-muted">USD <%= product.price.toFixed(2) %></p>
                                                <form action="/>" method="get">
                                                    <button class="btn btn-outline-secondary col-5" type="submit">Buy now</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <section class="pt-4">
                <%- include('partials/error'); %>
            </section>
        </main>
        <footer class="footer">
            <div class="container text-center mt-5">
                <p>Copyright 2021 - OSF Digital</p>
            </div>
        </footer>
    </body>
</html>