extends layout

block products
  .breadcrumbs
    p Home
    p= category
    p= subcategory
    p= product.name
  .product
    img(src="/images/" + product.image_groups[0].images[0].link)
    .product-info
     h2= product.name
    p= product.page_description
    .product-buy
    form(action=`/` method="get")
      button(type='submit') Buy now
    p= product.price
    p= product.currency