<!-- <% var errMessage, product, category, mainCategory, idSubcategory, subcat, subcategory, idProduct, quantityVariations %> -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head'); %>
        <title><%= product.page_title %></title>
    </head>
    <body class="container">
        <header>
            <%- include('partials/header'); %>
        </header>
        <main>
            <div class="container px-5 mx-auto">
                <% if (!errMessage) { %>
                    <ul class="breadcrumb py-3 text-uppercase">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/<%= category %>"><%= category %></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/<%= category %>/<%= mainCategory %>"><%= mainCategory %></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/<%= category %>/<%= mainCategory %>/<%= idSubcategory %>"><%= subcategory %></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/<%= category %>/<%= mainCategory %>/<%= idSubcategory %>/<%= idProduct %>"><%= product.name %></a>
                        </li>
                    </ul>
                    <div class="row mx-auto">
                        <div class="col card text-left my-3 mb-3 border-0">
                            <div class="row g-0 mx-5">
                                    <div class="col-md-5">
                                        <img src="/images/<%= product.image_groups[0].images[0].link %>" alt="product <%= product.name %> image"> 
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body d-flex flex-column">
                                            <h2 class="card-title fs-2 fw-bold"><%= product.name %></h2>
                                            <p class="card-text fs-5 me-5"><%= product.page_description %></p>
                                            <% if (product.long_description !== product.page_description) { %>
                                                <p class="card-text fs-4 me-5"><%- product.long_description %></p>
                                            <% } %>
                                            <div id="variants">

                                                <% const variantsAttributes = product.variation_attributes %>
                                                <% for (variantAttribute of variantsAttributes) { %>
                                                    <form action="/cart/addItem/<%= product.id %>" method="post">
                                                        <% } %>
                                                        
                                                        <% for (variantAttribute of variantsAttributes) { %>
                                                            <% if (variantAttribute.id === 'color') { %>
                                                                <% console.log(variantAttribute.name) %>
                                                            <p class="text-uppercase fw-bold fs-6 text-muted"><%= variantAttribute.name %></p>
                                                            <% for (eachValue in variantAttribute.values) { %>
                                                                
                                                                
                                                                <% var variantColor = variantAttribute.values[eachValue].value %>
                                                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                                                <input
                                                                type="radio"
                                                                id="select-<%= variantColor %>"
                                                                value="<%= variantColor %>"
                                                                name="<%= variantAttribute.id %>"
                                                                autocomplete="off"
                                                                class="btn-check"
                                                                >
                                                                <label
                                                                class="btn btn-outline-info mb-4"
                                                                for="select-<%= variantColor %>">
                                                                <%= variantAttribute.values[eachValue].name %>
                                                                </label>
                                                            </div>
                                                            
                                                            <% } %>
                                                        <% } %>
                                                        <% } %>
                                                        <% for (variantAttribute of variantsAttributes) { %>
                                                            <% if (variantAttribute.id === 'size') { %>
                                                            <p class="text-uppercase fw-bold fs-6 text-muted"><%= variantAttribute.name %></p>
                                                        <% for (eachValue in variantAttribute.values) { %>
                                                                <% var variantSize = variantAttribute.values[eachValue].value %>
                                                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                                                <input
                                                                type="radio"
                                                                id="select-<%= variantSize %>"
                                                                value="<%= variantSize %>"
                                                                name="<%= variantAttribute.id %>"
                                                                autocomplete="off"
                                                                class="btn-check"
                                                                >
                                                                <label
                                                                class="btn btn-outline-info mb-4"
                                                                for="select-<%= variantSize %>">
                                                                <%= variantAttribute.values[eachValue].name %>
                                                                </label>
                                                            </div>
                                                            <% } %>
                                                        <% } %>
                                                        <% } %>
   
                                                        <% for (variantAttribute of variantsAttributes) { %>
                                                            <% if (variantAttribute.id === 'width') { %>
                                                            <p class="text-uppercase fw-bold fs-6 text-muted"><%= variantAttribute.name %></p>
                                                        <% for (eachValue in variantAttribute.values) { %>
                                                                <% var variantWidth = variantAttribute.values[eachValue].value %>
                                                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                                                <input
                                                                type="radio"
                                                                id="select-<%= variantWidth %>"
                                                                value="<%= variantWidth %>"
                                                                name="<%= variantAttribute.id %>"
                                                                autocomplete="off"
                                                                class="btn-check"
                                                                >
                                                                <label
                                                                class="btn btn-outline-info mb-4"
                                                                for="select-<%= variantWidth %>">
                                                                <%= variantAttribute.values[eachValue].name %>
                                                                </label>
                                                            </div>
                                                            <% } %>
                                                        <% } %>
                                                        <% } %>
                                                
                                                
                                                        
                                                        
                                                        <div class="mt-auto">
                                                            <p class="card-text fs-4 fw-bold text-muted">USD <%= product.price.toFixed(2) %></p>
                                                            <button class="btn btn-outline-secondary col-5" type="submit">Buy now</button>
                                                        </div>
                                                        
                                                    </form>
                                                
                
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <section class="pt-4">
                <%- include('partials/error'); %>
            </section>
        </main>
        <footer class="footer">
            <div class="container text-center mt-5">
                <p>Copyright 2021 - OSF Digital</p>
            </div>
        </footer>
    </body>
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
    const api = "https://osf-digital-backend-academy.herokuapp.com/api/"

    // async function sendData(data) {

    //     if (data) {
    //         try {
    //             const request = await axios({
    //                 method: 'post',
    //                 url: `${api}cart/addItem`,
    //                 data: data
    //             });
    //             return request;
    //         } catch (err) {
    //             return err.message;
    //         }
    //     }
    // }


    const sizes = document.querySelectorAll('.selectSize');
    const variantValues = [];
    for (let i = 0; i < sizes.length; i++) {
        let size = sizes[i]
        size.addEventListener('input', function(event) {
        variantValues.push(size.value)
        })
    }
    console.log(variantValues)

    </script> -->
</html>