<!-- <% var errMessage, product, category, mainCategory, idSubcategory, subcat, subcategory, idProduct, quantityVariations, variantsColors, variantsSizes, variantsWidth %> -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head'); %>
        <title><%= product.page_title %></title>
    </head>
    <body class="container">
        <header>
            <%- include('partials/header'); %>
        </header>
        <main>
            <div class="container px-5 mx-auto">
                <% if (!errMessage) { %>
                    <ul class="breadcrumb py-3 text-uppercase">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/<%= category %>"><%= category %></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/<%= category %>/<%= mainCategory %>"><%= mainCategory %></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/<%= category %>/<%= mainCategory %>/<%= idSubcategory %>"><%= subcategory %></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/<%= category %>/<%= mainCategory %>/<%= idSubcategory %>/<%= idProduct %>"><%= product.name %></a>
                        </li>
                    </ul>
                    <div class="row mx-auto">
                        <div class="col card text-left my-3 mb-3 border-0">
                            <div class="row g-0 mx-5">
                                    <div class="col-md-5">
                                        <img src="/images/<%= product.image_groups[0].images[0].link %>" alt="product <%= product.name %> image"> 
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body d-flex flex-column">
                                            <h2 class="card-title fs-2 fw-bold"><%= product.name %></h2>
                                            <p class="card-text fs-5 me-5"><%= product.page_description %></p>
                                            <% if (product.long_description !== product.page_description) { %>
                                                <p class="card-text fs-4 me-5"><%- product.long_description %></p>
                                            <% } %>
                                            <div id="variants">

                                                <% const variantsAttributes = product.variation_attributes %>
                                                <% for (variantAttribute of variantsAttributes) { %>
                                                    <form action="/cart/addItem/<%= product.id %>" method="post">
                                                <% } %>
                                                            <% if (variantsColors.length > 0) { %>
                                                                <p class="text-uppercase fw-bold fs-6 text-muted">color</p>
                                                         
                                                                <% for (let color of variantsColors) { %>
                                                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                                                <input
                                                                type="radio"
                                                                id="select-<%= color.value %>"
                                                                value="<%= color.value %>"
                                                                name="color"
                                                                autocomplete="off"
                                                                class="btn-check"
                                                                required
                                                                >
                                                                <label
                                                                class="btn btn-outline-info mb-4"
                                                                for="select-<%= color.value %>">
                                                                <%= color.name %>
                                                                </label>
                                                            </div>
                                                            <% } %>
                                                            <% } %>

                                                            <% if (variantsSizes.length > 0) { %>
                                                            <p class="text-uppercase fw-bold fs-6 text-muted">size</p>
                                                                <% for (let size of variantsSizes) { %>
                                                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                                                <input
                                                                type="radio"
                                                                id="select-<%= size.value %>"
                                                                value="<%= size.value %>"
                                                                name="size"
                                                                autocomplete="off"
                                                                class="btn-check"
                                                                required
                                                                >
                                                                <label
                                                                class="btn btn-outline-info mb-4"
                                                                for="select-<%= size.value %>">
                                                                <%= size.name %>
                                                                </label>
                                                            </div>
                                                            <% } %>
                                                            <% } %>

                                                            <% if (variantsWidth.length > 0) { %>
                                                            <p class="text-uppercase fw-bold fs-6 text-muted">width</p>
                                                         
                                                                <% for (let width of variantsWidth) { %>
                                                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                                                <input
                                                                type="radio"
                                                                id="select-<%= width.value %>"
                                                                value="<%= width.value %>"
                                                                name="width"
                                                                autocomplete="off"
                                                                class="btn-check"
                                                                required
                                                                >
                                                                <label
                                                                class="btn btn-outline-info mb-4"
                                                                for="select-<%= width.value %>">
                                                                <%= width.name %>
                                                                </label>
                                                            </div>
                                                            <% } %>
                                                            <% } %>

                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <p class="card-text fs-4 fw-bold text-muted my-0 py-0">USD <%= product.price.toFixed(2) %></p>
                                                                <button class="btn btn-secondary col-5" type="submit">Buy now</button>
                                                                <button class="btn btn-outline-secondary" formaction="/wishlist/addItem/<%= product.id %>" formmethod="post" type="submit">Add to Wishlist</button>
                                                            </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <section class="pt-4">
                <%- include('partials/error'); %>
            </section>
        </main>
        <footer class="footer">
            <div class="container text-center mt-5">
                <p>Copyright 2021 - OSF Digital</p>
            </div>
        </footer>
    </body>
</html>