<!-- <% var errMessage, productList, productsQuantities, totalPrice, wishlistVariantsId, imagesLinks %> -->
<% var token = locals.token %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head'); %>
        <title>Alibazon - Wishlist</title>
    </head>
    <body class="container">
        <header>
            <%- include('partials/header'); %>
        </header>
        <main>
            <div class="container px-5 mx-auto">
                
                <ul class="breadcrumb py-3 text-uppercase">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/wishlist">Wishlist</a>
                    </li>
                </ul>
                <% if (token) { %>
                <% if (!errMessage) { %>
                <% if (productList) { %>
                <div class="col mx-auto mb-5">
                    <div class="mx-5">
                        <div>
                            <% let itemColor = 0 %>
                            <% let itemSize = 0 %>
                            <% let itemWidth = 0 %>
                            <% for (let i = 0; i < productList.length; i++) { %>
                                <% const productData = productList[i][0] %>
                                <div class= "row g-0 py-3 border-bottom">
                                    <div class="col-md-5">
                                        <% for (let eachImage of imagesLinks) { %>
                                            <% if (productData.name === eachImage.nameProduct) { %>
                                                <% if (eachImage.link !== 'undefined') { %>
                                                    <img src="/images/<%= eachImage.link %>">
                                                <% } else { %>
                                                    <p class="fs-1 fw-light text-muted text-center px-5 py-5">Image not found of <%= productData.name %></p>
                                                <% } %>
                                            <% } %>
                                        <% } %>
                                    </div>
                                    <div class="col-md-7">
                                        <form action="/cart/addItem/<%= productData.id %>" method="post">
                                            <p class="fs-6 fw-bold"><%= productData.name %></p>
                                            <% for (let variant of productData.variants) { %>
                                                <% if (variant.product_id === wishlistVariantsId[i]) { %>
                                                    <% itemVariantColor = variant.variation_values.color %>
                                                    <% itemVariantSize = variant.variation_values.size %>
                                                    <% itemVariantWidth = variant.variation_values.width %>
                                                    <% for (let attributes of productData.variation_attributes) { %>
                                                            <% if (attributes.id === 'color') { %>
                                                                <% for (let values of attributes.values) {%>
                                                                    <% if (values.value === itemVariantColor) { %>
                                                                        <% itemVariantColor = values.name %>
                                                                        <% itemColor = values.value %>
                                                                            <% if (itemVariantColor !== 0) { %>
                                                                            <input class="d-none" name="color" value="<%= itemColor %>">
                                                                            <p class="fs-6 text-muted">Color: <%= itemVariantColor %></p>
                                                                            <% } %>
                                                                    <% } %>
                                                                <% } %>
                                                            <% } %>
                                                            <% if (attributes.id === 'size') { %>
                                                                <% for (let values of attributes.values) {%>
                                                                    <% if (values.value === itemVariantSize) { %>
                                                                        <% itemVariantSize = values.name %>
                                                                        <% itemSize = values.value %>
                                                                            <% if (itemVariantSize !== 0) { %>
                                                                            <input class="d-none" name="size" value="<%= itemSize %>">
                                                                            <p class="fs-6 text-muted">Size: <%= itemVariantSize %></p>
                                                                            <% } %>
                                                                    <% } %>
                                                                <% } %>
                                                            <% } %>
                                                            <% if (attributes.id === 'width') { %>
                                                                <% for (let values of attributes.values) {%>
                                                                    <% if (values.value === itemVariantWidth) { %>
                                                                        <% itemVariantWidth = values.name %>
                                                                        <% itemWidth = values.value %>
                                                                            <% if (itemVariantWidth !== 0) { %>
                                                                            <input class="d-none" name="width" value="<%= itemWidth %>">
                                                                            <p class="fs-6 text-muted">Width: <%= itemVariantWidth %></p>
                                                                            <% } %>
                                                                    <% } %>
                                                                <% } %>
                                                            <% } %>
                                                    <% } %>
                                                <% } %>
                                            <% } %>
                                            <div class="d-flex">
                                                <input class="form-control form-control-sm" type="number" name="quantityProduct" min="1" value="<%= productsQuantities[i] %>">
                                                <button class="btn btn-outline-secondary btn-sm col-3" formaction="/wishlist/changeQuantity/<%= wishlistVariantsId[i] %>" formmethod="post" type="submit">Change quantity</button>
                                            </div>
                                            <p class="fs-6 text-muted mt-3">Price per item: USD <%= productData.price.toFixed(2) %></p>
                                            <p class="fs-6 fw-bold text-muted">Total price: USD <%= (productData.price * productsQuantities[i]).toFixed(2) %></p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <input class="d-none" name="variantId" value="<%= wishlistVariantsId[i] %>">
                                                <button class="btn btn-outline-secondary btn-sm" formaction="/wishlist/delete" formmethod="post" type="submit">Remove item</label>
                                                <button class="btn btn-secondary btn-lg" type="submit">Add to cart</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>

            </div>
            <% } %>
            <% } else { %>
            <section class="pt-5 mt-5 text-center">
                <h1>There are no items in your wishlist yet.</h1>
                <p class="mt-3">Check our products for <a href="/mens">Men</a> and <a href="/womens">Women</a> and refresh your looks!</p>
            </section>
            <% } %>
        <% } else if (!token) { %>
            <section class="pt-5 mt-5 text-center">
                <h1>You are not signed in yet.</h1>
                <p class="mt-3">Please <a href="/signin">Sign In</a> or <a href="/signup">Sign Up</a> to buy our items.</p>
            </section>
        <% } %>
        </main>
        <footer class="footer">
            <div class="container text-center mt-5">
                <p>Copyright 2021 - OSF Digital</p>
            </div>
        </footer>
    </body>
</html>  